# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode settings (optional)
.vscode/

# Streamlit
.streamlit/secrets.toml
